<!-- module html  -->
{% set href = module.link.url.href %}
{% if module.link.url.type is equalto "EMAIL_ADDRESS" %}
  {% set href = "mailto:" + href %}
{% endif %}
<div class="flex not-prose {% if module.style.alignment_field.horizontal_align  == "CENTER" %} justify-center {% elif module.style.alignment_field.horizontal_align  == "RIGHT" %} justify-end {% endif %} ">
  <a href="{{ href }}"
  {% if module.link.open_in_new_tab %}target="_blank"{% endif %}
  {% if module.link.rel %}rel="{{ module.link.rel }}"{% endif %} class="flex items-center group {% if module.reverse_caret %} flex-row-reverse {% endif %}">
    <div>
      <p class="text-[16px] font-semibold text-nq-forest m-0">{{ module.text }}</p>
    </div>
    <div>&nbsp;</div>
    <div class="{% if module.reverse_caret %} rotate-180 {% endif %}"><svg class="group-hover:translate-x-0.5 transition-transform duration-200" width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M6.5 4L10.5 8L6.5 12" stroke="{{ module.caret_color.color }}" stroke-width="2" stroke-linecap="square" stroke-linejoin="round"/>
      </svg>
    </div>
  </a>
</div>