<!-- module html  -->
{{ require_css("https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css") }}
{{ require_css("https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css") }}
{{ require_js("https://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.2/jquery.min.js", "footer") }}
{{ require_js("https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js", "footer") }}
<div class="slick-container ">
{% for item in module.image %}
    <div >
	{% if item.src %}
		{% set sizeAttrs = 'width="{{ item.width }}" height="{{ item.height }}"' %}
		{% if item.size_type == 'auto' %}
			{% set sizeAttrs = 'width="{{ item.width }}" height="{{ item.height }}" style="max-width: 100%; height: auto;"' %}
		{% elif item.size_type == 'auto_custom_max' %}
			{% set sizeAttrs = 'width="{{ item.max_width }}" height="{{ item.max_height }}" style="max-width: 100%; height: auto;"' %}
		{% endif %}
		 {% set loadingAttr = item.loading != 'disabled' ? 'loading="{{ item.loading }}"' : '' %}
		<img src="{{ item.src }}" alt="{{ item.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
	{% endif %}
    </div>
{% endfor %}
</div><!--end row-wrapper -->