<!-- module html  -->
{% set pricing_cards = [
  {
    "most_popular": false,
    "title": "Base",
    "description": "Fixed Term",
    "academic_price": "720",
    "corporate_price": "845",
    "price_description": "per user per year",
    "plan_description": "Confidently calculate sample size & power for regulatory approval",
    "plan_bullets": [
      "1000s of Fixed Term Trial Scenarios",
      "Endpoints: Including Means, Survival, Agreement, Count, Regression",
      "Designs: Including Cross-Over, Stepped-Wedge, Cluster Randomized",
      "Statement Generator",
      "IQ/OQ Procedures",
      "Self-serve knowledge base",
      "24/7 Customer Support"
    ]
  },
  {
    "most_popular": false,
    "title": "Plus",
    "description": "Bayesian + Fixed Term",
    "academic_price": "1,095",
    "corporate_price": "1,150",
    "price_description": "per user per year",
    "plan_description": "Confidently calculate sample size & power for regulatory approval",
    "plan_bullets": [
      "1000s of Fixed Term Trial Scenarios",
      "Endpoints: Including Means, Survival, Agreement, Count, Regression",
      "Designs: Including Cross-Over, Stepped-Wedge, Cluster Randomized",
      "Statement Generator",
      "IQ/OQ Procedures",
      "Self-serve knowledge base",
      "24/7 Customer Support"
    ]
  },
  {
    "most_popular": true,
    "title": "Pro",
    "description": "Adaptive + Bayesian + Fixed Term",
    "academic_price": "1,995",
    "corporate_price": "3,625",
    "price_description": "per user per year",
    "plan_description": "Confidently calculate sample size & power for regulatory approval",
    "plan_bullets": [
      "1000s of Fixed Term Trial Scenarios",
      "Endpoints: Including Means, Survival, Agreement, Count, Regression",
      "Designs: Including Cross-Over, Stepped-Wedge, Cluster Randomized",
      "Statement Generator",
      "IQ/OQ Procedures",
      "Self-serve knowledge base",
      "24/7 Customer Support"
    ]
  },
  {
    "most_popular": false,
    "title": "Expert",
    "description": "Prediction + Adaptive + Bayesian + Fixed Term",
    "academic_price": "3,495",
    "corporate_price": "6,995",
    "price_description": "per user per year",
    "plan_description": "Confidently calculate sample size & power for regulatory approval",
    "plan_bullets": [
      "1000s of Fixed Term Trial Scenarios",
      "Endpoints: Including Means, Survival, Agreement, Count, Regression",
      "Designs: Including Cross-Over, Stepped-Wedge, Cluster Randomized",
      "Statement Generator",
      "IQ/OQ Procedures",
      "Self-serve knowledge base",
      "24/7 Customer Support"
    ]
  }
] %}

  <div class="flex items-center justify-center mb-12">
    <div class="font-semibold md:text-lg">
      Academic
    </div>

    <div class="px-6">
      <!-- Rounded switch -->
      <label class="switch relative inline-block w-[60px] h-[34px]">
        <input class="opacity-0 w-0 h0" type="checkbox" id="toggle-switch" checked>
        <span class="slider round absolute cursor-pointer inset-0 bg-nq-primary duration-200"></span>
      </label>
    </div>

    <div class="font-semibold md:text-lg">
      Corporate
    </div>

  </div>

  <div class="relative">
    <div class="absolute inset-0 w-full top-0 left-0 right-0 bottom-0 items-end hidden lg:flex ">
      <div class=" h-1/2 w-full bg-white">
      </div>
    </div>
    <div class="container">
      <div class="flex flex-wrap -mx-3">
      {% for card in module.cards %}
        {% set href = card.button_link.url.href %}
          {% if card.button_link.url.type is equalto "EMAIL_ADDRESS" %}
            {% set href = "mailto:" + href %}
          {% endif %}

        <div class="w-full sm:w-1/2 lg:w-1/4 px-3 mb-12 lg:mb-0 ">
          
          <div class="bg-white w-full border border-nq-grey p-6 h-full relative">
          {% if card.most_popular %}
            <div class="flex justify-end w-full absolute right-0 top-0 left-0 -translate-y-full">
              <div class="bg-nq-jade text-black text-center py-2 px-8 w-8/12">
                <p class="text-sm font-medium whitespace-nowrap">
                  Most Popular
                </p>
              </div>
            </div>
          {% endif %}
            <h3 class="mb-3">
              {{ card.title}}
            </h3>
            <div class="h-12 mb-1">
            <p class="text-sm text-nq-primary font-bold ">
              {{ card.terms}}
            </p>
            </div>
            <div class="mb-3">
              <p class="font-bold">
                &dollar;<span class="academic-price hidden">{{ card.academic_price}}</span><span class="corporate-price ">{{ card.corporate_price}}</span>
              </p>
              <p class="text-sm text-[#949B99]">
                {{ card.price_description}}
              </p>
            </div>
            <div class="mb-3">
              <a class="btn w-full text-center text-white hover:bg-opacity-80 hover:border-opacity-80 
              {% if card.most_popular %}
                bg-nq-jade border-nq-jade
                {% else %}
                  bg-black border-black 
              {% endif %}" href="{{ href }}"
            {% if item.button_link.open_in_new_tab %}target="_blank"{% endif %}
            {% if item.button_link.rel %}rel="{{ item.button_link.rel }}"{% endif %}>
              Buy Now
              </a>
            </div>
            <div class="plan-description">
              {{ card.plan_description }}
            </div>
      
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% require_js %}
  <script>
  const toggleSwitch = document.getElementById("toggle-switch");
  toggleSwitch.addEventListener("click", (e) => {
   
    if (e.target.checked) {
      document.querySelectorAll('.academic-price').forEach((el) => {
        el.classList.add('hidden');
      });
      document.querySelectorAll('.corporate-price').forEach((el) => {
        el.classList.remove('hidden');
      });
    } else {
      document.querySelectorAll('.academic-price').forEach((el) => {
        el.classList.remove('hidden');
      });
      document.querySelectorAll('.corporate-price').forEach((el) => {
        el.classList.add('hidden');
      });  
    }
  });
  </script>
{% end_require_js %}