{% set href = module.card_cta.link.url.href %}
{% if module.card_cta.link.url.type is equalto "EMAIL_ADDRESS" %}
  {% set href = "mailto:" + href %}
{% endif %}

<div class="overflow-hidden border border-[#DBDFD4] relative max-w-[380px] mx-auto">
  <div>
    {% if module.card_thumbnail.src %}
    <div class="md:h-[200px]">
      {% set sizeAttrs = 'width="{{ module.card_thumbnail.width }}" height="{{ module.card_thumbnail.height }}"' %}
      {% if module.card_thumbnail.size_type == 'auto' %}
        {% set sizeAttrs = 'width="{{ module.card_thumbnail.width }}" height="{{ module.card_thumbnail.height }}" style="max-width: 100%; height: auto;"' %}
      {% elif module.card_thumbnail.size_type == 'auto_custom_max' %}
        {% set sizeAttrs = 'width="{{ module.card_thumbnail.max_width }}" height="{{ module.card_thumbnail.max_height }}" style="max-width: 100%; height: auto;"' %}
      {% endif %}
        {% set loadingAttr = module.card_thumbnail.loading != 'disabled' ? 'loading="{{ module.card_thumbnail.loading }}"' : '' %}
        <a href={{ href}} {% if module.card_cta.link.open_in_new_tab %}target="_blank"{% endif %}
      {% if module.card_btn.link.rel %}rel="{{ module.card_cta.link.rel }}"{% endif %}>
      <img class="w-full h-full object-cover" src="{{ module.card_thumbnail.src }}" alt="{{ module.card_thumbnail.alt }}" {{ loadingAttr }}>
    </a>
    </div>
    {% endif %}
    {% if module.wistia_id %}
 
      <div class="md:h-[200px]">
      <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
    <span class="wistia_embed wistia_async_{{ module.wistia_id }} popover=true popoverContent=thumbnail object-cover playButton=false" >&nbsp;</span></div></div>
    </div>

  {% endif %}
    <div class="p-[24px] bg-white relative">
      {% if module.card_label %}
      <div class="mb-3">
        <p class="m-0 text-xs text-nq-forest font-semibold bg-[#DBDFD4] px-[8px] py-[4px] inline-block">{{ module.card_label }}</p>
      </div>
      {% endif %}
      <div class="mb-3">
        <p class=" font-semibold text-nq-forest max-lines max-lines-2 leading-normal">
          {{ module.card_title }}
        </p>
      </div>
      {% if module.description %}
      <div class="">
        <p class="text-sm  text-nq-primary leading-normal max-lines max-lines-2 ">
          {{ module.description }}
        </p>
      </div>
      {% endif %}
      {% if href %}
      <a href={{ href}} {% if module.card_cta.link.open_in_new_tab %}target="_blank"{% endif %}
    {% if module.card_btn.link.rel %}rel="{{ module.card_cta.link.rel }}"{% endif %} class="flex items-center mt-3 group">
        <div class="">
          <p class="text-sm text-nq-forest font-semibold">{{ module.card_cta.text }}</p>
        </div>
        <div class="px-1"><svg class="group-hover:translate-x-0.5 transition-transform duration-200" width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M6.5 4L10.5 8L6.5 12" stroke="#2EC99B" stroke-width="2" stroke-linecap="square" stroke-linejoin="round"/>
          </svg>
        </div>
      </a>
      {% endif %}
    
    </div>
  </div>
</div>
{% if module.wistia_id %}
<script src="https://fast.wistia.net/assets/external/E-v1.js" async></script>

{% endif %}