<!-- module html  -->
<div class="relative z-10">
  <div class="bg-[#907680] p-[64px]">
  {% for item in module.testimonial_panel %}
    <div class="testimonial-panel {% if !loop.first %} hidden {% endif %}">
      <div class="prose text-white leading-snug font-light mb-[24px]">
        {{ item.text }}
      </div>
      {% if item.logo.src %}
    <div class="absolute right-[40px] bottom-[40px]">
      {% set sizeAttrs = 'width="{{ item.logo.width }}" height="{{ item.logo.height }}"' %}
      {% if item.logo.size_type == 'auto' %}
        {% set sizeAttrs = 'width="{{ item.logo.width }}" height="{{ item.logo.height }}" style="max-width: 100%; height: auto;"' %}
      {% elif item.logo.size_type == 'auto_custom_max' %}
        {% set sizeAttrs = 'width="{{ item.logo.max_width }}" height="{{ item.logo.max_height }}" style="max-width: 100%; height: auto;"' %}
      {% endif %}
       {% set loadingAttr = item.logo.loading != 'disabled' ? 'loading="{{ item.logo.loading }}"' : '' %}
      <img src="{{ item.logo.src }}" alt="{{ item.logo.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>

    </div>
    {% endif %}
    </div>
  {% endfor %} 
    <div class="flex space-x-[12px]">
    {% for item in module.testimonial_panel %}
      <div class="h-[12px] w-[12px] rounded-full bg-[#D9D9D9] cursor-pointer {% if !loop.first %} bg-opacity-50 {% endif %} testimonial-nav-dot"></div>
    {% endfor %} 
    </div>
  </div>
</div>
<div class="absolute w-[74px] h-full bg-white right-0 top-0 bottom-0 hidden md:block"></div>