<!-- module html  -->
{% for item in module.customer_info %}
<div class="flex flex-wrap {% if !loop.first %} hidden {% endif %} customer-panel bg-nq-forest mb-[16px]">
  <div class="w-full md:w-1/2">
    <div class="p-[32px] md:px-[64px] md:pt-[64px] pb-[32px]">
      <div class="relative mb-[24px]">
        <p class="text-[16px] text-white">
        Customer Impact</p>
        <div class="absolute -left-2 md:-left-4 top-0 bottom-0 h-full w-[24px] md:w-[88px] flex items-center">
          <div class="w-full h-[2px] bg-[#BAB78D] -translate-x-full "></div>
        </div>
      </div>
      <p class="text-white text-[20px] md:text-[28px] mb-[24px] leading-tight">{{ item.quote }}</p>
      <p class="text-white text-[16px] md:text-[18px] font-semibold mb-[8px]">{{ item.quote_name }}</p>
      <p class="text-white text-[16px] md:text-[18px] font-semibold">{{ item.company }}</p>
    </div>
  </div>
  <div class="w-full md:w-1/2">
    {% if item.panel_image.src %}
		{% set sizeAttrs = 'width="{{ item.panel_image.width }}" height="{{ item.panel_image.height }}"' %}
		{% if item.panel_image.size_type == 'auto' %}
			{% set sizeAttrs = 'width="{{ item.panel_image.width }}" height="{{ item.panel_image.height }}" style="max-width: 100%; height: auto;"' %}
		{% elif item.panel_image.size_type == 'auto_custom_max' %}
			{% set sizeAttrs = 'width="{{ item.panel_image.max_width }}" height="{{ item.panel_image.max_height }}" style="max-width: 100%; height: auto;"' %}
		{% endif %}
		 {% set loadingAttr = item.panel_image.loading != 'disabled' ? 'loading="{{ item.panel_image.loading }}"' : '' %}
		<img class="w-full h-full object-cover" src="{{ item.panel_image.src }}" alt="{{ item.panel_image.alt }}" {{ loadingAttr }} >
	{% endif %}

  </div>
</div>
{% endfor %}

<div class="flex justify-between flex-wrap">
  {% for item in module.customer_info %}
    {% set sizeAttrs = 'width="{{ item.logo.width }}" height="{{ item.logo.height }}"' %}
		{% if item.logo.size_type == 'auto' %}
			{% set sizeAttrs = 'width="{{ item.logo.width }}" height="{{ item.logo.height }}" style="max-width: 100%; height: auto;"' %}
		{% elif item.logo.size_type == 'auto_custom_max' %}
			{% set sizeAttrs = 'width="{{ item.logo.max_width }}" height="{{ item.logo.max_height }}" style="max-width: 100%; height: auto;"' %}
		{% endif %}
		{% set loadingAttr = item.logo.loading != 'disabled' ? 'loading="{{ item.logo.loading }}"' : '' %}
  <div class="w-1/3 lg:w-[160px] px-[20px] py-[10px] bg-[#F3F3EF] cursor-pointer border-b-[4px] border-transparent hover:border-nq-jade {% if loop.first %} active {% endif %} customer-logo">
    <img src="{{ item.logo.src }}" class="w-auto h-auto max-w-full max-h-full" alt="{{ item.logo.alt }}" {{ loadingAttr }} {{sizeAttrs}}>
  </div>
  {% endfor %}

</div>