.hs-cta-wrapper .cta_button {
  border-radius: 9999px;
  border-width: 2px;
  display: inline-block;
  letter-spacing: .025em;
  padding: 8px 24px;
  transition-duration: .2s;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,-webkit-backdrop-filter;
  transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter;
  transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
}