<!-- module html  -->
{{ require_js("//js.hsforms.net/forms/v2.js", "footer") }}
{% set href = module.button.link.url.href %}
  {% if module.button.link.url.type is equalto "EMAIL_ADDRESS" %}
    {% set href = "mailto:" + href %}
  {% endif %}


<div class="bg-white p-6 border border-nq-grey hover:shadow-md transition-shadow duration-200 download-card mb-6">
  <div class="mb-3">
    <div class="flex items-center download-card-title {% if module.description %} cursor-pointer {% endif %} select-none">
  {% if module.description %}

      <div class="download-card-arrow origin-center duration-200 -rotate-90">
        <svg width="12" height="24" viewBox="0 0 12 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g opacity="0.6" clip-path="url(#clip0_1826_24426)">
        <path d="M12 11L6 17L7.15256e-07 11" fill="#1A2836"/>
        </g>
        <defs>
        <clipPath id="clip0_1826_24426">
        <rect width="24" height="12" fill="white" transform="matrix(0 1 -1 0 12 0)"/>
        </clipPath>
        </defs>
        </svg>
      </div>
  {% endif %}
      <h4 class="font-semibold {% if module.description %} px-3 {% endif %} leading-tight">{{ module.title }}</h4>
    </div>
  </div>
  {% if module.description %}
  <div class="mb-3 download-card-description hidden text-[#1A2836] text-sm">
  {{ module.description }}
  </div>
  {% endif %}

  <div class="flex flex-wrap justify-between items-center">
    <div class="py-3">
    {% if module.popup.cta %}
      <a class="flex items-center text-xs md:text-sm text-nq-forest/50 w-full whitespace-nowrap hover:text-nq-forest group card-cta" data-form-trigger="{{ name }}">
        {%  if module.download_text %}
          {{ module.download_text }}
        {% else %}
          Download Sample Data
        {% endif %}
       &nbsp; <svg stroke="currentColor" fill="currentColor"  class="text-[#BAC0B8] group-hover:text-nq-jade" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M2.66602 11.3337V12.667C2.66602 13.0206 2.80649 13.3598 3.05654 13.6098C3.30659 13.8598 3.64573 14.0003 3.99935 14.0003H11.9993C12.353 14.0003 12.6921 13.8598 12.9422 13.6098C13.1922 13.3598 13.3327 13.0206 13.3327 12.667V11.3337M4.66602 7.33366L7.99935 10.667M7.99935 10.667L11.3327 7.33366M7.99935 10.667V2.66699"  stroke-width="2" stroke-linecap="square" stroke-linejoin="round"/>
      </svg>  
    </a>
    {% endif %}
    </div>
    <div>
    {% if href %}
      <a href="{{ href }}"
        {% if module.button.link.open_in_new_tab %}target="_blank"{% endif %}
        {% if module.button.link.rel %}rel="{{ module.button.link.rel }}"{% endif %} class="btn border-nq-jade whitespace-nowrap text-center text-xs md:text-sm hover:bg-nq-jade hover:text-white">
        {%  if module.button.text %}
        {{ module.button.text }}
        {% else %}
          Video Tutorial
        {% endif %}
      </a>
    {% endif %}
    </div>
  </div>

  {% if module.popup.cta %}
  <div class="fixed inset-0 z-30 w-full h-full bg-nq-forest/50 hidden form-popup py-20 flex justify-center items-center backdrop-blur-sm px-6" data-popup="{{ name }}">
    <div class="absolute inset-0 form-bg w-full h-full z-40 "></div>
    <div class="bg-white rounded-lg h-auto max-w-lg mx-auto overflow-hidden  w-full relative z-50">
      <div class="bg-nq-forest p-6">
        <div class="flex items-center">
            <div class="w-20">
              <img width="40" height="40" class="block border-2 border-white mx-auto p-2 rounded-full" src="https://www.statsols.com/hubfs/download_icon.png" />
            </div>
            <div class="w-full">
              <p class="text-white text-lg font-semibold">
                Download {{ module.title }} sample data
              </p>
            </div>
        </div>
      </div>
      <div class="px-6 pt-3 pb-6 ">
        <div class="form-body">
     
            <!-- Generat form loading state -->
          <div class="form-loading flex flex-row-reverse items-center justify-center w-full py-20">
            <div class="px-3">
              <p class="text-lg font-semibold">Loading download form...</p>
            </div>
            <div role="status">
              <svg aria-hidden="true" class="mx-auto w-8 h-8 text-gray-200 animate-spin dark:text-nq-grey fill-nq-jade" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
                  <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
              </svg>
              <span class="sr-only">Loading...</span>
            </div>
          </div>
         
          <div class="form-loaded hidden">
            <p class="mb-3">
              {{ module.popup.download_header_popup_copy }}
            </p>
            <div class="form-{{ name }}"></div>
        </div>
      </div>
        <div class="form-thankyou hidden">
          <div class="text-center ">
            <p class="font-semibold mb-1">Thank you!</p>
            <p class="">Your <span class="font-semibold">{{ module.title }}</span> sample data is now ready for download!</p>
          </div>

          {% if module.popup.cta %}
            {% cta guid="{{ module.popup.cta }}" align_opt="justifycenter" %}
          {% endif %}
          <div class="text-center">
            <p class="text-sm mb-2">Need sample size data for other trial designs?</p>
            <strong class="text-sm"><a href="/templates/download" rel="noopener" target="_blank">See more Trial Design Templates</a></strong></div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</div>

